{# Copyright (C) 2026 Matthieu Clemenceau #}
{#- SPDX-License-Identifier: GPL-3.0-or-later -#}
## {{ s.stage }}

{% if s.description %}_{{ s.description }}_

{% endif %}
{% for r in s.results %}
**{{ r.unit }}**: {{ r.status }} (attempt {{ r.attempt }}, {{ r.ts }})

{{ r.data|tojson_pretty|fence('json') }}

{% endfor %}
